@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* give some decent looking anchor tags */
  .user-text {
    @apply font-serif;
  }
}
.user-text a {
  @apply text-slate-700 hover:underline hover:text-slate-600;
}

a.active {
  @apply text-slate-700 font-bold border-b border-b-orange-200;
}

pre {
  white-space: pre-wrap;
}

.headerLink {
  margin-left: 10px;
}

/* indent on quotes */

.comment p:first-of-type {
  margin-top: 5px;
}

/* used by the comment */
.bp3-card {
  padding-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  overflow-wrap: break-word;
  margin-top: 15px;

  border-left-width: 3px;
  border-left-style: solid;

  border-top: none;
  border-bottom: none;

  background-color: white;
  box-shadow: none;
}

.collapsed {
  animation: flash-background 3s;
}

@keyframes flash-background {
  0% {
    background: white;
  }
  /* Adding a step in the middle */
  25% {
    background: #ff6600;
  }
  100% {
    background: white;
  }
}
