@import "tailwindcss";

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

@layer components {
  /* give some decent looking anchor tags */
  .user-text {
    @apply font-serif;
  }
}
.user-text a {
  @apply rounded-sm bg-slate-100 px-0.5 text-slate-700 hover:bg-slate-200 hover:text-slate-600 hover:underline focus-visible:underline active:underline;
}

a.active {
  @apply border-b border-b-orange-200 font-bold text-slate-700;
}

pre {
  white-space: pre-wrap;
}

.headerLink {
  margin-left: 10px;
}

/* indent on quotes */

.comment p:first-of-type {
  margin-top: 5px;
}

.comment pre {
  background-color: #f6f6f6;
  padding: 8px 12px;
  border-radius: 4px;
  overflow-x: auto;
  font-size: 0.9em;
}

.comment code {
  font-size: 0.9em;
}

.comment pre code {
  font-size: 1em;
}

.track-visited a:visited {
  color: var(--color-orange-500);
}
/* used by the comment */
.bp3-card {
  padding-left: 5px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
  overflow-wrap: break-word;
  margin-top: 15px;

  box-shadow: inset 3px 0px 4px -1px var(--flash-color);
  border-top-width: 0.5px;
  border-top-color: var(--flash-color);

  border-bottom: none;

  background-color: white;

  transition: box-shadow 0.3s ease-in-out;
}

.collapsed {
  --flash-color: #ff6600;
  animation: flash-background 200ms;
}

@keyframes flash-background {
  0% {
    background: white;
  }
  /* Adding a step in the middle */
  50% {
    background: rgb(from var(--flash-color) r g b / 20%);
  }
  100% {
    background: white;
  }
}

/* Subtle fade-out for recently read story retained briefly in list */
.fade-out {
  animation: fade-out-keyframes 300ms ease-out forwards;
}

@keyframes fade-out-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

button {
  margin: 0;
}
